<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkd-AXiPLbycIZ1U4BUxVOG-dmOU35qvA</string>
	<key>GCM_SENDER_ID</key>
	<string>438231719501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carDealership</string>
	<key>PROJECT_ID</key>
	<string>kap-car-dealership</string>
	<key>STORAGE_BUCKET</key>
	<string>kap-car-dealership.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438231719501:ios:3e6de6044927c374c48604</string>
</dict>
</plist>